
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Change Elizabeth Keen’s details</h1>

      
@GovukSummaryList(SummaryList(
    rows = Seq(
      SummaryListRow(
        key = Key(
          content = Text("What is the director’s name?")
        ),
        value = Value(
          content = Text("Elizabeth Kean")
        ),
        actions = Some(Actions(
          items = Seq(
            ActionItem(
              href = "#",
              content = Text("Change"),
              visuallyHiddenText = Some("name")
            )
          )
        ))
      ), 
      SummaryListRow(
        key = Key(
          content = Text("What is Elizabeth Kean’s date of birth?")
        ),
        value = Value(
          content = Text("12 October 1984")
        ),
        actions = Some(Actions(
          items = Seq(
            ActionItem(
              href = "#",
              content = Text("Change"),
              visuallyHiddenText = Some("date of birth")
            )
          )
        ))
      ), 
      SummaryListRow(
        key = Key(
          content = Text("Does Elizabeth Kean have a National Insurance number?")
        ),
        value = Value(
          content = HtmlContent("Yes")
        ),
        actions = Some(Actions(
          items = Seq(
            ActionItem(
              href = "#",
              content = Text("Change"),
              visuallyHiddenText = Some("if they have National Insurance number")
            )
          )
        ))
      ), 
      SummaryListRow(
        key = Key(
          content = Text("National Insurance number")
        ),
        value = Value(
          content = Text("QQ 12 34 56 C")
        ),
        actions = Some(Actions(
          items = Seq(
            ActionItem(
              href = "#",
              content = Text("Change"),
              visuallyHiddenText = Some("National Insurance number")
            )
          )
        ))
      )
    ),
    classes = "govuk-!-margin-bottom-9"
  ))
<form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        
@GovukButton(Button(
    content = Text("Continue")
  ))
</form>
    </div>
  </div>