@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
govukCheckboxes : GovukCheckboxes,
govukInput : GovukInput)

@()


@govukInput(Input(
    id = "access-code",
    name = "access-code",
    label = Label(
      content = Text("Access code")
    ),
    classes = "govuk-input--width-10"
  ))
@govukCheckboxes(Checkboxes(
    idPrefix = Some("access-code-7-days"),
    name = "access-code-7-days",
    items = Seq(
      CheckboxItem(
        content = Text("Remember this access code for 7 days"),
        value = "Keep for 7 days"
      )
    )
  ))
@govukButton(Button(
    content = Text("Continue")
  ))