@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
govukRadios : GovukRadios)

@()


@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Do you want to get electronic communications instead of letters from HMRC?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    )),
    idPrefix = Some("paperless"),
    name = "paperless",
    items = Seq(
      RadioItem(
        content = Text("Yes"),
        value = Some("yes")
      ), 
      RadioItem(
        content = Text("No"),
        value = Some("no")
      )
    ),
    classes = "govuk-radios--inline"
  ))
@govukButton(Button(
    content = Text("Continue")
  ))