
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"> Application </th>
      <th class="govuk-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Joshua Wessel
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("Urgent"),
    classes = "govuk-tag--red"
  ))
</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Rachel Silver
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("New"),
    classes = "govuk-tag--blue"
  ))
</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Laura Frith
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("New"),
    classes = "govuk-tag--blue"
  ))
</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Paul French
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("New"),
    classes = "govuk-tag--blue"
  ))
</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Jesse Smith
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("New"),
    classes = "govuk-tag--blue"
  ))
</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Rachael Pepper
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("Finished"),
    classes = "govuk-tag--green"
  ))
</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Emma Tennant
      </td>
      <td class="govuk-table__cell">
        
@GovukTag(Tag(
    content = Text("Waiting on"),
    classes = "govuk-tag--yellow"
  ))
</td>
    </tr>
  </tbody>
</table>