
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukCheckboxes(Checkboxes(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("What is your nationality?"),
        classes = "govuk-fieldset__legend--xl",
        isPageHeading = true
      ))
    )),
    hint = Some(Hint(
      content = Text("If you have dual nationality, select all options that are relevant to you.")
    )),
    errorMessage = Some(ErrorMessage(
      content = Text("Select if you are British, Irish or a citizen of a different country")
    )),
    idPrefix = Some("nationality"),
    name = "nationality",
    items = Seq(
      CheckboxItem(
        content = Text("British"),
        value = "british"
      ), 
      CheckboxItem(
        content = Text("Irish"),
        value = "irish"
      ), 
      CheckboxItem(
        content = Text("Citizen of another country"),
        value = "other"
      )
    )
  ))