@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukInput : GovukInput)

@()


@govukInput(Input(
    id = "account-number",
    name = "account-number",
    inputmode = Some("numeric"),
    label = Label(
      isPageHeading = true,
      classes = "govuk-label--l",
      content = Text("What is your account number?")
    ),
    hint = Some(Hint(
      content = Text("Must be between 6 and 8 digits long")
    )),
    classes = "govuk-input--width-10",
    pattern = Some("[0-9]*")
  ))