@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukRadios : GovukRadios,
govukButton : GovukButton)

@()


<form>
  
@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Are you sure you want to remove Elizabeth Kean?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    )),
    name = "delete",
    items = Seq(
      RadioItem(
        content = Text("Yes"),
        value = Some("yes")
      ), 
      RadioItem(
        content = Text("No"),
        value = Some("no")
      )
    )
  ))
@govukButton(Button(
    content = Text("Continue")
  ))
</form>