@import uk.gov.hmrc.govukfrontend.views.html.components._

@this()

@()

<form>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Are you sure you want to remove Elizabeth Kean?</h1>
      </legend>
      <div class="govuk-radios"  data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input id="delete" type="radio" name="delete" class="govuk-radios__input" value="yes">
          <label class="govuk-label govuk-radios__label" for="delete">Yes</label>
        </div>
        <div class="govuk-radios__item">
          <input id="delete-2" type="radio" name="delete" class="govuk-radios__input" value="no">
          <label class="govuk-label govuk-radios__label" for="delete-2">No</label>
        </div>
      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
</form>