
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Have you changed your name?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    )),
    hint = Some(Hint(
      content = Text("This includes changing your last name or spelling your name differently.")
    )),
    idPrefix = Some("changed-name"),
    name = "changed-name",
    items = Seq(
      RadioItem(
        content = Text("Yes"),
        value = Some("yes")
      ), 
      RadioItem(
        content = Text("No"),
        value = Some("no")
      )
    ),
    classes = "govuk-radios--inline"
  ))