
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukHeader(Header(
    homepageUrl = Some("#"),
    serviceName = Some("Service name"),
    serviceUrl = Some("#"),
    navigation = Some(Seq(
      HeaderNavigation(
        href = Some("#1"),
        active = true,
        content = Text("Navigation item 1")
      ), 
      HeaderNavigation(
        href = Some("#2"),
        content = Text("Navigation item 2")
      ), 
      HeaderNavigation(
        href = Some("#3"),
        content = Text("Navigation item 3")
      ), 
      HeaderNavigation(
        href = Some("#4"),
        content = Text("Navigation item 4")
      )
    ))
  ))