@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukFooter : GovukFooter)

@()


@govukFooter(Footer(
    navigation = Seq(
      FooterNavigation(
        title = Some("Two column list"),
        columns = Some(2),
        items = Seq(
          FooterItem(
            text = Some("Navigation item 1"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 2"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 3"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 4"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 5"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 6"),
            href = Some("#")
          )
        ),
        width = Some("two-thirds")
      ), 
      FooterNavigation(
        title = Some("Single column list"),
        items = Seq(
          FooterItem(
            text = Some("Navigation item 1"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 2"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Navigation item 3"),
            href = Some("#")
          )
        ),
        width = Some("one-third")
      )
    )
  ))