@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton)

@()

<div class="govspeak">
    <div class="govuk-inset-text">
    Online services may be slow during busy times. Check if there are any <a href="#" class="govuk-link">problems with this service</a>.
  </div>

    @govukButton(Button(
        content = Text("Start now"),
        href = Some("#"),
        isStartButton = true
    ))

    <div class="attachment-details">
        <h2 class="govuk-heading-m documents">Before you start</h2>
    </div>

    <p class="govuk-body">Check <a href="#" class="govuk-link">what to include on your return</a>.</p>
    <p class="govuk-body">You'll need the Government Gateway user ID and password you used when you registered for the levy.</p>
</div>
