@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukCheckboxes : GovukCheckboxes,
govukInput : GovukInput)

@()


@emailHtml = {
@govukInput(Input(
    id = "contact-by-email",
    name = "contact-by-email",
    inputType = "email",
    spellcheck = Some(false),
    label = Label(
      content = Text("Email address")
    ),
    classes = "govuk-!-width-one-third"
  ))
}
@phoneHtml = {
@govukInput(Input(
    id = "contact-by-phone",
    name = "contact-by-phone",
    inputType = "tel",
    label = Label(
      content = Text("Phone number")
    ),
    classes = "govuk-!-width-one-third"
  ))
}
@textHtml = {
@govukInput(Input(
    id = "contact-by-text",
    name = "contact-by-text",
    inputType = "tel",
    label = Label(
      content = Text("Mobile phone number")
    ),
    classes = "govuk-!-width-one-third"
  ))
}
@govukCheckboxes(Checkboxes(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("How would you like to be contacted?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    )),
    hint = Some(Hint(
      content = Text("Select all options that are relevant to you.")
    )),
    idPrefix = Some("contact"),
    name = "contact",
    items = Seq(
      CheckboxItem(
        content = Text("Email"),
        value = "email",
        conditionalHtml = Some(emailHtml)
      ), 
      CheckboxItem(
        content = Text("Phone"),
        value = "phone",
        conditionalHtml = Some(phoneHtml)
      ), 
      CheckboxItem(
        content = Text("Text message"),
        value = "text message",
        conditionalHtml = Some(textHtml)
      )
    )
  ))