@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcCaseworkerBanner
@import uk.gov.hmrc.govukfrontend.views.Aliases._
@import uk.gov.hmrc.hmrcfrontend.views.Aliases._

@this(hmrcCaseworkerBanner: HmrcCaseworkerBanner)

@()(implicit messages: Messages)

@hmrcCaseworkerBanner(CaseworkerBanner(
    content = HtmlContent(Html("""<a class="govuk-link caseworker-guidance-banner__link" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">Debt management guidance (opens in new tab)</a>"""))
))
