@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(hmrcPageHeading : HmrcPageHeading,
govukInput : GovukInput,
govukButton : GovukButton)

@()


@hmrcPageHeading(PageHeading(
    text = "What is the postcode of your business?"
  ))
<p class="govuk-body">This is the postcode attached to your registered address, it is where you receive correspondence from HMRC.</p>


@govukInput(Input(
    hint = Some(Hint(
      content = Text("For example, AB1 1DH")
    )),
    classes = "govuk-input--width-10"
  ))
@govukButton(Button(
    content = Text("Continue")
  ))