@import uk.gov.hmrc.hmrcfrontend.views.html.components._

@this(hmrcTimeoutDialog : HmrcTimeoutDialog)

@()


@hmrcTimeoutDialog(TimeoutDialog(
    language = Some("cy"),
    timeout = Some(70),
    countdown = Some(68),
    keepAliveUrl = Some("?continue=true"),
    signOutUrl = Some("?lang=Welsh"),
    message = Some("Er eich diogelwch, byddwn yn dileu’ch atebion cyn pen"),
    keepAliveButtonText = Some("Parhau i wirio pa gymorth y gallwch ei gael gyda chostau plant"),
    signOutButtonText = Some("Dileu’ch atebion")
  ))