@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukBreadcrumbs : GovukBreadcrumbs)

@()


@govukBreadcrumbs(Breadcrumbs(
    items = Seq(
      BreadcrumbsItem(
        content = Text("Home"),
        href = Some("#")
      ), 
      BreadcrumbsItem(
        content = Text("Environment"),
        href = Some("#")
      ), 
      BreadcrumbsItem(
        content = Text("Rural and countryside"),
        href = Some("#")
      ), 
      BreadcrumbsItem(
        content = Text("Rural development and land management"),
        href = Some("#")
      ), 
      BreadcrumbsItem(
        content = Text("Economic growth in rural areas"),
        href = Some("#")
      )
    ),
    collapseOnMobile = true
  ))