@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukBreadcrumbs : GovukBreadcrumbs)

@()(implicit messages: Messages, request: RequestHeader)


@govukBreadcrumbs(Breadcrumbs(
    items = Seq(
      BreadcrumbsItem(
        content = Text("Home"),
        href = Some("#")
      ), 
      BreadcrumbsItem(
        content = Text("Passports, travel and living abroad"),
        href = Some("#")
      ), 
      BreadcrumbsItem(
        content = Text("Travel abroad"),
        href = Some("#")
      )
    )
  ))