@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
govukCheckboxes : GovukCheckboxes)

@()


@govukCheckboxes(Checkboxes(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Select your preferences"),
        classes = "govuk-fieldset__legend--xl",
        isPageHeading = true
      ))
    )),
    idPrefix = Some("mixed"),
    name = "mixed",
    items = Seq(
      CheckboxItem(
        content = Text("I want to get electronic communications instead of letters from HMRC"),
        value = "paperless"
      ), 
      CheckboxItem(
        content = Text("Remember this access code for 7 days"),
        value = "access-code-7-days"
      )
    )
  ))
@govukButton(Button(
    content = Text("Continue")
  ))