@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(hmrcPageHeading : HmrcPageHeading,
govukInput : GovukInput,
govukButton : GovukButton)

@()


@hmrcPageHeading(PageHeading(
    text = "What is your company registration number?"
  ))
<p class="govuk-body">This is the 8 character reference issued by Companies House when the company was set up. You can <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">find your registration number (opens in new tab)</a>.</p>


@govukInput(Input(
    id = "crn",
    name = "crn",
    label = Label(
      classes = "govuk-visually-hidden",
      content = Text("What is your company registration number?")
    ),
    hint = Some(Hint(
      content = Text("For example, 01234567")
    )),
    classes = "govuk-input--width-10"
  ))
@govukButton(Button(
    content = Text("Continue")
  ))