@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukInput : GovukInput,
govukButton : GovukButton)

@()


<h1 class="govuk-heading-l">What is your company registration number?</h1>

<p class="govuk-body">You can <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/" rel="noreferrer noopener" target="_blank">search Companies House for your company registration number (opens in new tab)</a>.</p>


@govukInput(Input(
    id = "company-registration-number",
    label = Label(
      classes = "govuk-visually-hidden",
      content = Text("What is your company registration number?")
    ),
    hint = Some(Hint(
      content = Text("It is 8 characters. For example, 01234567 or AC012345.")
    )),
    classes = "govuk-input--width-10"
  ))
@govukButton(Button(
    content = Text("Continue")
  ))