@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.viewmodels.cookiebanner.{Message, Action}

@this(govukCookieBanner : GovukCookieBanner)

@()


<form method="POST">

@govukCookieBanner(CookieBanner(
    ariaLabel = Some("Cookies on [name of service]"),
    messages = Seq(
      Message(
        heading = Text("Cookies on [name of service]"),
        content = Text("We use some essential cookies to make this service work. We’d like to set additional cookies so we can remember your settings, understand how you use the service and make improvements."),
        actions = Some(Seq(
          Action(
            text = "Accept analytics cookies",
            inputType = Some("submit"),
            name = Some("cookies"),
            value = Some("accept")
          ), 
          Action(
            text = "Reject analytics cookies",
            inputType = Some("submit"),
            name = Some("cookies"),
            value = Some("reject")
          ), 
          Action(
            text = "View cookies",
            href = Some("#")
          )
        ))
      )
    )
  ))
</form>