@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcCharacterCount
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.charactercount.{CharacterCount => HCharacterCount}


@this(
        govukRadios: GovukRadios,
        hmrcCharacterCount: HmrcCharacterCount,
        govukButton: GovukButton
)

@()(implicit messages: Messages, request: RequestHeader)

<h1 class="govuk-heading-xl">Give feedback</h1>

<p class="govuk-body">We use your feedback to improve our services. To better understand it, we may link your feedback to other information we hold about you, like gender and age.</p>

<p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" rel="noreferrer noopener" target="_blank">HMRC Privacy Notice (opens in new tab)</a> for details about how we collect, use, protect and secure your personal information.</p>

<p class="govuk-body">This survey has 4 optional questions.</p>

<form action="/form-handler" method="post" novalidate>
    @govukRadios(Radios(
        name = "able",
        fieldset = Some(Fieldset(
            legend = Some(Legend(
                content = Text("Were you able to do what you needed to do today?"),
                isPageHeading = false,
                classes = "govuk-fieldset__legend--m"
            ))
        )),
        items = Seq(
            RadioItem(value = Some("yes"), content = Text("Yes"), id = Some("able-yes")),
            RadioItem(value = Some("no"), content = Text("No"), id = Some("able-no"))
        )
    ))

    @govukRadios(Radios(
        name = "howEasyScore",
        fieldset = Some(Fieldset(
            legend = Some(Legend(
                content = Text("How easy was it for you to do what you needed to do today?"),
                isPageHeading = false,
                classes = "govuk-fieldset__legend--m"
            ))
        )),
        items = Seq(
            RadioItem(value = Some("VeryEasy"), content = Text("Very easy"), id = Some("howEasyQuestion-VeryEasy")),
            RadioItem(value = Some("Easy"), content = Text("Easy"), id = Some("howEasyQuestion-Easy")),
            RadioItem(value = Some("Moderate"), content = Text("Neither easy or difficult"), id = Some("howEasyQuestion-Moderate")),
            RadioItem(value = Some("Difficult"), content = Text("Difficult"), id = Some("howEasyQuestion-Difficult")),
            RadioItem(value = Some("VeryDifficult"), content = Text("Very difficult"), id = Some("howEasyQuestion-VeryDifficult"))
        )
    ))

    @hmrcCharacterCount(HCharacterCount(
        name = "moreDetail",
        id = "whyGiveScore",
        maxLength = Some(1000),
        label = Label(
            content = Text("Why did you give this answer?"),
            classes = "govuk-label--m",
            isPageHeading =  false
        ),
        hint = Some(Hint(
            content = Text("Please do not enter personal information such as your National Insurance number, Unique Tax Reference or address or telephone number in this box. Please note we are unable to reply to comments individually but we do use your feedback to help improve our services.")
        ))
    ))

    @govukRadios(Radios(
        name = "howDoYouFeelScore",
        fieldset = Some(Fieldset(
            legend = Some(Legend(
                content = Text("Overall, how did you feel about the service you received today?"),
                isPageHeading = false,
                classes = "govuk-fieldset__legend--m"
            ))
        )),
        items = Seq(
            RadioItem(value = Some("VerySatisfied"), content = Text("Very satisfied"), id = Some("howDoYouFeelQuestion-VerySatisfied")),
            RadioItem(value = Some("Satisfied"), content = Text("Satisfied"), id = Some("howDoYouFeelQuestion-Satisfied")),
            RadioItem(value = Some("Moderate"), content = Text("Neither satisfied or dissatisfied"), id = Some("howDoYouFeelQuestion-Moderate")),
            RadioItem(value = Some("Dissatisfied"), content = Text("Dissatisfied"), id = Some("howDoYouFeelQuestion-Dissatisfied")),
            RadioItem(value = Some("VeryDissatisfied"), content = Text("Very dissatisfied"), id = Some("howDoYouFeelQuestion-VeryDissatisfied"))
        )
    ))

    @govukButton(Button(content = Text("Send feedback")))

</form>
