@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukInput : GovukInput,
govukFieldset : GovukFieldset)

@()


@govukFieldset(Fieldset(
    legend = Some(Legend(
      content = Text("What is your address?"),
      classes = "govuk-fieldset__legend--l",
      isPageHeading = true
    )),
    html = html
  ))

@html = {
@govukInput(Input(
    id = "address-line-1",
    name = "addressLine1",
    label = Label(
      content = Text("Address line 1")
    ),
    autocomplete = Some("address-line1")
  ))
@govukInput(Input(
    id = "address-line-2",
    name = "addressLine2",
    label = Label(
      content = Text("Address line 2 (optional)")
    ),
    autocomplete = Some("address-line2")
  ))
@govukInput(Input(
    id = "address-town",
    name = "addressTown",
    label = Label(
      content = Text("Town or city")
    ),
    classes = "govuk-!-width-two-thirds",
    autocomplete = Some("address-level2")
  ))
@govukInput(Input(
    id = "address-postcode",
    name = "addressPostcode",
    label = Label(
      content = Text("Postcode")
    ),
    classes = "govuk-input--width-10",
    autocomplete = Some("postal-code")
  ))
}
