@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
  govukSelect: GovukSelect
)

@()

<form action="#" method="get" novalidate>

@govukSelect(Select(
  id = "location-picker-select",
  name = "location-picker-select",
  items = Seq(
      SelectItem(Some(""), "Select country or territory"),
      SelectItem(Some("AF-Afghanistan"), "Afghanistan"),
      SelectItem(Some("AX-Aland_Islands"), "Aland Islands"),
      SelectItem(Some("AL-Albania"), "Albania"),
      SelectItem(Some("DZ-Algeria"), "Algeria"),
      SelectItem(Some("AS-American_Samoa"), "American Samoa"),
      SelectItem(Some("AD-Andorra"), "Andorra"),
      SelectItem(Some("AO-Angola"), "Angola"),
      SelectItem(Some("AI-Anguilla"), "Anguilla"),
      SelectItem(Some("AQ-Antarctica"), "Antarctica"),
      SelectItem(Some("AG-Antigua_and_Barbuda"), "Antigua and Barbuda"),
      SelectItem(Some("AR-Argentina"), "Argentina"),
      SelectItem(Some("AM-Armenia"), "Armenia"),
      SelectItem(Some("AW-Aruba"), "Aruba"),
      SelectItem(Some("AU-Australia"), "Australia"),
      SelectItem(Some("AT-Austria"), "Austria"),
      SelectItem(Some("AZ-Azerbaijan"), "Azerbaijan"),
      SelectItem(Some("BH-Bahrain"), "Bahrain"),
      SelectItem(Some("BD-Bangladesh"), "Bangladesh"),
      SelectItem(Some("BB-Barbados"), "Barbados"),
      SelectItem(Some("BY-Belarus"), "Belarus"),
      SelectItem(Some("BE-Belgium"), "Belgium"),
      SelectItem(Some("BZ-Belize"), "Belize"),
      SelectItem(Some("BJ-Benin"), "Benin"),
      SelectItem(Some("BM-Bermuda"), "Bermuda"),
      SelectItem(Some("BT-Bhutan"), "Bhutan"),
      SelectItem(Some("BO-Bolivia"), "Bolivia"),
      SelectItem(Some("BQ-Bonaire,_Sint_Eustatius_and_Saba"), "Bonaire, Sint Eustatius and Saba"),
      SelectItem(Some("BA-Bosnia_and_Herzegovina"), "Bosnia and Herzegovina"),
      SelectItem(Some("BW-Botswana"), "Botswana"),
      SelectItem(Some("BV-Bouvet_Island"), "Bouvet Island"),
      SelectItem(Some("BR-Brazil"), "Brazil"),
      SelectItem(Some("IO-British_Indian_Ocean_Territory"), "British Indian Ocean Territory"),
      SelectItem(Some("VG-British_Virgin_Islands"), "British Virgin Islands"),
      SelectItem(Some("BN-Brunei"), "Brunei"),
      SelectItem(Some("BG-Bulgaria"), "Bulgaria"),
      SelectItem(Some("BF-Burkina_Faso"), "Burkina Faso"),
      SelectItem(Some("BI-Burundi"), "Burundi"),
      SelectItem(Some("KH-Cambodia"), "Cambodia"),
      SelectItem(Some("CM-Cameroon"), "Cameroon"),
      SelectItem(Some("CA-Canada"), "Canada"),
      SelectItem(Some("CV-Cape_Verde"), "Cape Verde"),
      SelectItem(Some("KY-Cayman_Islands"), "Cayman Islands"),
      SelectItem(Some("CF-Central_African_Republic"), "Central African Republic"),
      SelectItem(Some("TD-Chad"), "Chad"),
      SelectItem(Some("CL-Chile"), "Chile"),
      SelectItem(Some("CN-China"), "China"),
      SelectItem(Some("CX-Christmas_Island"), "Christmas Island"),
      SelectItem(Some("CC-Cocos_(Keeling)_Islands_(the)"), "Cocos (Keeling) Islands (the)"),
      SelectItem(Some("CO-Colombia"), "Colombia"),
      SelectItem(Some("KM-Comoros"), "Comoros"),
      SelectItem(Some("CG-Congo"), "Congo"),
      SelectItem(Some("CD-Congo_(Democratic_Republic)"), "Congo (Democratic Republic)"),
      SelectItem(Some("CK-Cook_Islands_(the)"), "Cook Islands (the)"),
      SelectItem(Some("CR-Costa_Rica"), "Costa Rica"),
      SelectItem(Some("HR-Croatia"), "Croatia"),
      SelectItem(Some("CU-Cuba"), "Cuba"),
      SelectItem(Some("CW-Curacao"), "Curacao"),
      SelectItem(Some("CY-Cyprus"), "Cyprus"),
      SelectItem(Some("CZ-Czechia"), "Czechia"),
      SelectItem(Some("DK-Denmark"), "Denmark"),
      SelectItem(Some("DJ-Djibouti"), "Djibouti"),
      SelectItem(Some("DM-Dominica"), "Dominica"),
      SelectItem(Some("DO-Dominican_Republic"), "Dominican Republic"),
      SelectItem(Some("TL-East_Timor"), "East Timor"),
      SelectItem(Some("EC-Ecuador"), "Ecuador"),
      SelectItem(Some("EG-Egypt"), "Egypt"),
      SelectItem(Some("SV-El_Salvador"), "El Salvador"),
      SelectItem(Some("GQ-Equatorial_Guinea"), "Equatorial Guinea"),
      SelectItem(Some("ER-Eritrea"), "Eritrea"),
      SelectItem(Some("EE-Estonia"), "Estonia"),
      SelectItem(Some("SZ-Eswatini"), "Eswatini"),
      SelectItem(Some("SZ-Swaziland"), "Swaziland"),
      SelectItem(Some("ET-Ethiopia"), "Ethiopia"),
      SelectItem(Some("FK-Falkland_Islands"), "Falkland Islands"),
      SelectItem(Some("FO-Faroe_Islands_(the)"), "Faroe Islands (the)"),
      SelectItem(Some("FJ-Fiji"), "Fiji"),
      SelectItem(Some("FI-Finland"), "Finland"),
      SelectItem(Some("FR-France"), "France"),
      SelectItem(Some("GF-French_Guiana"), "French Guiana"),
      SelectItem(Some("PF-French_Polynesia"), "French Polynesia"),
      SelectItem(Some("TF-French_Southern_Territories_(the)"), "French Southern Territories (the)"),
      SelectItem(Some("GA-Gabon"), "Gabon"),
      SelectItem(Some("GE-Georgia"), "Georgia"),
      SelectItem(Some("DE-Germany"), "Germany"),
      SelectItem(Some("GH-Ghana"), "Ghana"),
      SelectItem(Some("GI-Gibraltar"), "Gibraltar"),
      SelectItem(Some("GR-Greece"), "Greece"),
      SelectItem(Some("GL-Greenland"), "Greenland"),
      SelectItem(Some("GD-Grenada"), "Grenada"),
      SelectItem(Some("GP-Guadeloupe"), "Guadeloupe"),
      SelectItem(Some("GU-Guam"), "Guam"),
      SelectItem(Some("GT-Guatemala"), "Guatemala"),
      SelectItem(Some("GG-Guernsey"), "Guernsey"),
      SelectItem(Some("GN-Guinea"), "Guinea"),
      SelectItem(Some("GW-Guinea-Bissau"), "Guinea-Bissau"),
      SelectItem(Some("GY-Guyana"), "Guyana"),
      SelectItem(Some("HT-Haiti"), "Haiti"),
      SelectItem(Some("HM-Heard_Island_and_McDonald_Islands"), "Heard Island and McDonald Islands"),
      SelectItem(Some("HN-Honduras"), "Honduras"),
      SelectItem(Some("HK-Hong_Kong"), "Hong Kong"),
      SelectItem(Some("HU-Hungary"), "Hungary"),
      SelectItem(Some("IS-Iceland"), "Iceland"),
      SelectItem(Some("IN-India"), "India"),
      SelectItem(Some("ID-Indonesia"), "Indonesia"),
      SelectItem(Some("IR-Iran"), "Iran"),
      SelectItem(Some("IQ-Iraq"), "Iraq"),
      SelectItem(Some("IE-Ireland"), "Ireland"),
      SelectItem(Some("IM-Isle_of_Man"), "Isle of Man"),
      SelectItem(Some("IL-Israel"), "Israel"),
      SelectItem(Some("IT-Italy"), "Italy"),
      SelectItem(Some("CI-Ivory_Coast"), "Ivory Coast"),
      SelectItem(Some("CI-Cote_d'Ivoire"), "Cote d'Ivoire"),
      SelectItem(Some("JM-Jamaica"), "Jamaica"),
      SelectItem(Some("JP-Japan"), "Japan"),
      SelectItem(Some("JE-Jersey"), "Jersey"),
      SelectItem(Some("JO-Jordan"), "Jordan"),
      SelectItem(Some("KZ-Kazakhstan"), "Kazakhstan"),
      SelectItem(Some("KE-Kenya"), "Kenya"),
      SelectItem(Some("KI-Kiribati"), "Kiribati"),
      SelectItem(Some("XK-Kosovo"), "Kosovo"),
      SelectItem(Some("KW-Kuwait"), "Kuwait"),
      SelectItem(Some("KG-Kyrgyzstan"), "Kyrgyzstan"),
      SelectItem(Some("LA-Laos"), "Laos"),
      SelectItem(Some("LV-Latvia"), "Latvia"),
      SelectItem(Some("LB-Lebanon"), "Lebanon"),
      SelectItem(Some("LS-Lesotho"), "Lesotho"),
      SelectItem(Some("LR-Liberia"), "Liberia"),
      SelectItem(Some("LY-Libya"), "Libya"),
      SelectItem(Some("LI-Liechtenstein"), "Liechtenstein"),
      SelectItem(Some("LT-Lithuania"), "Lithuania"),
      SelectItem(Some("LU-Luxembourg"), "Luxembourg"),
      SelectItem(Some("MO-Macao"), "Macao"),
      SelectItem(Some("MG-Madagascar"), "Madagascar"),
      SelectItem(Some("MW-Malawi"), "Malawi"),
      SelectItem(Some("MY-Malaysia"), "Malaysia"),
      SelectItem(Some("MV-Maldives"), "Maldives"),
      SelectItem(Some("ML-Mali"), "Mali"),
      SelectItem(Some("MT-Malta"), "Malta"),
      SelectItem(Some("MH-Marshall_Islands"), "Marshall Islands"),
      SelectItem(Some("MQ-Martinique"), "Martinique"),
      SelectItem(Some("MR-Mauritania"), "Mauritania"),
      SelectItem(Some("MU-Mauritius"), "Mauritius"),
      SelectItem(Some("YT-Mayotte"), "Mayotte"),
      SelectItem(Some("MX-Mexico"), "Mexico"),
      SelectItem(Some("FM-Micronesia"), "Micronesia"),
      SelectItem(Some("MD-Moldova"), "Moldova"),
      SelectItem(Some("MC-Monaco"), "Monaco"),
      SelectItem(Some("MN-Mongolia"), "Mongolia"),
      SelectItem(Some("ME-Montenegro"), "Montenegro"),
      SelectItem(Some("MS-Montserrat"), "Montserrat"),
      SelectItem(Some("MA-Morocco"), "Morocco"),
      SelectItem(Some("MZ-Mozambique"), "Mozambique"),
      SelectItem(Some("MM-Myanmar_(Burma)"), "Myanmar (Burma)"),
      SelectItem(Some("NA-Namibia"), "Namibia"),
      SelectItem(Some("NR-Nauru"), "Nauru"),
      SelectItem(Some("NP-Nepal"), "Nepal"),
      SelectItem(Some("NL-Netherlands"), "Netherlands"),
      SelectItem(Some("NL-Holland"), "Holland"),
      SelectItem(Some("NC-New_Caledonia"), "New Caledonia"),
      SelectItem(Some("NZ-New_Zealand"), "New Zealand"),
      SelectItem(Some("NI-Nicaragua"), "Nicaragua"),
      SelectItem(Some("NE-Niger"), "Niger"),
      SelectItem(Some("NG-Nigeria"), "Nigeria"),
      SelectItem(Some("NU-Niue"), "Niue"),
      SelectItem(Some("NF-Norfolk_Island"), "Norfolk Island"),
      SelectItem(Some("MP-Northern_Mariana_Islands_(the)"), "Northern Mariana Islands (the)"),
      SelectItem(Some("KP-North_Korea"), "North Korea"),
      SelectItem(Some("MK-North_Macedonia"), "North Macedonia"),
      SelectItem(Some("NO-Norway"), "Norway"),
      SelectItem(Some("OM-Oman"), "Oman"),
      SelectItem(Some("PK-Pakistan"), "Pakistan"),
      SelectItem(Some("PW-Palau"), "Palau"),
      SelectItem(Some("PS-Palestine,_State_of"), "Palestine, State of"),
      SelectItem(Some("PA-Panama"), "Panama"),
      SelectItem(Some("PG-Papua_New_Guinea"), "Papua New Guinea"),
      SelectItem(Some("PY-Paraguay"), "Paraguay"),
      SelectItem(Some("PE-Peru"), "Peru"),
      SelectItem(Some("PH-Philippines"), "Philippines"),
      SelectItem(Some("PN-Pitcairn,_Henderson,_Ducie_and_Oeno_Islands"), "Pitcairn, Henderson, Ducie and Oeno Islands"),
      SelectItem(Some("PL-Poland"), "Poland"),
      SelectItem(Some("PT-Portugal"), "Portugal"),
      SelectItem(Some("PR-Puerto_Rico"), "Puerto Rico"),
      SelectItem(Some("QA-Qatar"), "Qatar"),
      SelectItem(Some("RE-Reunion"), "Reunion"),
      SelectItem(Some("RO-Romania"), "Romania"),
      SelectItem(Some("RU-Russia"), "Russia"),
      SelectItem(Some("RW-Rwanda"), "Rwanda"),
      SelectItem(Some("BL-Saint_Bartholemy"), "Saint Bartholemy"),
      SelectItem(Some("MF-Saint_Martin_(French_part)"), "Saint Martin (French part)"),
      SelectItem(Some("PM-Saint_Pierre_and_Miquelon"), "Saint Pierre and Miquelon"),
      SelectItem(Some("WS-Samoa"), "Samoa"),
      SelectItem(Some("SM-San_Marino"), "San Marino"),
      SelectItem(Some("ST-Sao_Tome_and_Principe"), "Sao Tome and Principe"),
      SelectItem(Some("SA-Saudi_Arabia"), "Saudi Arabia"),
      SelectItem(Some("SN-Senegal"), "Senegal"),
      SelectItem(Some("RS-Serbia"), "Serbia"),
      SelectItem(Some("SC-Seychelles"), "Seychelles"),
      SelectItem(Some("SL-Sierra_Leone"), "Sierra Leone"),
      SelectItem(Some("SG-Singapore"), "Singapore"),
      SelectItem(Some("SX-Sint_Maarten_(Dutch_part)"), "Sint Maarten (Dutch part)"),
      SelectItem(Some("SK-Slovakia"), "Slovakia"),
      SelectItem(Some("SI-Slovenia"), "Slovenia"),
      SelectItem(Some("SB-Solomon_Islands"), "Solomon Islands"),
      SelectItem(Some("SO-Somalia"), "Somalia"),
      SelectItem(Some("ZA-South_Africa"), "South Africa"),
      SelectItem(Some("GS-South_Georgia_and_South_Sandwich_Islands"), "South Georgia and South Sandwich Islands"),
      SelectItem(Some("KR-South_Korea"), "South Korea"),
      SelectItem(Some("SS-South_Sudan"), "South Sudan"),
      SelectItem(Some("ES-Spain"), "Spain"),
      SelectItem(Some("LK-Sri_Lanka"), "Sri Lanka"),
      SelectItem(Some("SH-St_Helena,_Ascension_and_Tristan_da_Cunha"), "St Helena, Ascension and Tristan da Cunha"),
      SelectItem(Some("KN-St_Kitts_and_Nevis"), "St Kitts and Nevis"),
      SelectItem(Some("LC-St_Lucia"), "St Lucia"),
      SelectItem(Some("VC-St_Vincent"), "St Vincent"),
      SelectItem(Some("SD-Sudan"), "Sudan"),
      SelectItem(Some("SR-Suriname"), "Suriname"),
      SelectItem(Some("SJ-Svalbard_and_Jan_Mayen"), "Svalbard and Jan Mayen"),
      SelectItem(Some("SE-Sweden"), "Sweden"),
      SelectItem(Some("CH-Switzerland"), "Switzerland"),
      SelectItem(Some("SY-Syria"), "Syria"),
      SelectItem(Some("TW-Taiwan"), "Taiwan"),
      SelectItem(Some("TJ-Tajikistan"), "Tajikistan"),
      SelectItem(Some("TZ-Tanzania"), "Tanzania"),
      SelectItem(Some("TH-Thailand"), "Thailand"),
      SelectItem(Some("BS-The_Bahamas"), "The Bahamas"),
      SelectItem(Some("GM-The_Gambia"), "The Gambia"),
      SelectItem(Some("TG-Togo"), "Togo"),
      SelectItem(Some("TK-Tokelau"), "Tokelau"),
      SelectItem(Some("TO-Tonga"), "Tonga"),
      SelectItem(Some("TT-Trinidad_and_Tobago"), "Trinidad and Tobago"),
      SelectItem(Some("TN-Tunisia"), "Tunisia"),
      SelectItem(Some("TR-Turkey"), "Turkey"),
      SelectItem(Some("TM-Turkmenistan"), "Turkmenistan"),
      SelectItem(Some("TC-Turks_and_Caicos_Islands"), "Turks and Caicos Islands"),
      SelectItem(Some("TV-Tuvalu"), "Tuvalu"),
      SelectItem(Some("UG-Uganda"), "Uganda"),
      SelectItem(Some("UA-Ukraine"), "Ukraine"),
      SelectItem(Some("AE-United_Arab_Emirates"), "United Arab Emirates"),
      SelectItem(Some("GB-United_Kingdom"), "United Kingdom"),
      SelectItem(Some("GB-England"), "England"),
      SelectItem(Some("GB-Wales"), "Wales"),
      SelectItem(Some("GB-Scotland"), "Scotland"),
      SelectItem(Some("GB-Northern_Ireland"), "Northern Ireland"),
      SelectItem(Some("GB-Great_Britain"), "Great Britain"),
      SelectItem(Some("GB-UK"), "UK"),
      SelectItem(Some("US-United_States"), "United States"),
      SelectItem(Some("US-USA"), "USA"),
      SelectItem(Some("US-U.S.A."), "U.S.A."),
      SelectItem(Some("US-US"), "US"),
      SelectItem(Some("US-U.S."), "U.S."),
      SelectItem(Some("US-America"), "America"),
      SelectItem(Some("UM-United_States_Minor_Outlying_Islands_(the)"), "United States Minor Outlying Islands (the)"),
      SelectItem(Some("UY-Uruguay"), "Uruguay"),
      SelectItem(Some("UZ-Uzbekistan"), "Uzbekistan"),
      SelectItem(Some("VU-Vanuatu"), "Vanuatu"),
      SelectItem(Some("VA-Vatican_City"), "Vatican City"),
      SelectItem(Some("VA-Holy_See"), "Holy See"),
      SelectItem(Some("VE-Venezuela"), "Venezuela"),
      SelectItem(Some("VN-Vietnam"), "Vietnam"),
      SelectItem(Some("VI-Virgin_Islands_(U.S.)"), "Virgin Islands (U.S.)"),
      SelectItem(Some("WF-Wallis_and_Futuna"), "Wallis and Futuna"),
      SelectItem(Some("EH-Western_Sahara*"), "Western Sahara*"),
      SelectItem(Some("YE-Yemen"), "Yemen"),
      SelectItem(Some("ZM-Zambia"), "Zambia"),
      SelectItem(Some("ZW-Zimbabwe"), "Zimbabwe")
  ),
  label = Label(
    isPageHeading = true,
    classes = "govuk-label--l",
    content = Text("Select your country")
  ),
  attributes = Map(
    "data-show-all-values" -> "false",
    "data-auto-select" -> "false",
    "data-default-value" -> "",
    "data-module" -> "hmrc-accessible-autocomplete"
  )
))
@govukButton(Button(
    content = Text("Continue")
  ))
</form>
