@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
govukInput : GovukInput)

@()


<h1 class="govuk-heading-l">Find your address</h1>


@govukInput(Input(
    id = "postcode",
    name = "postcode",
    label = Label(
      content = Text("Postcode")
    ),
    classes = "govuk-input--width-10",
    autocomplete = Some("postal-code")
  ))
@govukInput(Input(
    id = "property",
    name = "property",
    label = Label(
      content = Text("Property name or number (optional)")
    ),
    hint = Some(Hint(
      content = Text("For example, The Mill, 116 or Flat 37a.")
    ))
  ))
<p class="govuk-body"><a class="govuk-link" href="#">Enter the address manually</a></p>


@govukButton(Button(
    content = Text("Continue")
  ))