@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
        govukFileUpload: GovukFileUpload,
        govukSummaryList: GovukSummaryList,
        govukTag: GovukTag
)

@()

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @govukFileUpload(FileUpload(
            id = "file-upload-1",
            name = "file-upload-1",
            hint = Some(Hint(
                content = Text("You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.")
            )),
            label = Label(
                content = Text("Upload receipts"),
                classes = "govuk-label--xl",
                isPageHeading = true
            )
        ))

        @govukSummaryList(SummaryList(
            rows = Seq(
                SummaryListRow(
                    key = Key(content = Text("receipt2.jpg")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("uploading"), classes = "govuk-tag--yellow"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Remove"),
                                visuallyHiddenText = Some("receipt1.jpg")
                            )
                        )
                    ))
                ),
                SummaryListRow(
                    key = Key(content = HtmlContent("""<a class="govuk-link" href="#">receipt1.jpg</a>""")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("uploaded"), classes = "govuk-tag--green"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Remove"),
                                visuallyHiddenText = Some("receipt1.jpg")
                            )
                        )
                    ))
                )
            )
        ))

        @govukButton(Button(content = Text("Continue")))
  </div>
</div>
