@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.addtoalist.ListItem
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.addtoalist.ItemType

@this(hmrcAddToAList : HmrcAddToAList)

@()(implicit messages: Messages, request: RequestHeader)


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

@hmrcAddToAList(AddToAList(
    itemList = Seq(
      ListItem(
        name = "receipt1.jpg",
        changeUrl = "#",
        removeUrl = "#"
      ),
      ListItem(
        name = "receipt2.jpg",
        changeUrl = "#",
        removeUrl = "#"
      )
    ),
    itemType = Some(ItemType(
      singular = "receipt",
      plural = "receipts"
    ))
  ))
</div>
</div>
