@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukSummaryList: GovukSummaryList,
        govukButton : GovukButton,
        govukTag: GovukTag
)

@()

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Upload receipts</h1>

        <div id="file-upload-1-hint" class="govuk-hint">
            You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
        </div>

        <p class="govuk-body" aria-live="polite">1 of 2 files uploaded</p>

        @govukButton(Button(
            content = Text("Upload another receipt"),
            classes = "govuk-button--secondary"
        ))

        <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

        @govukSummaryList(SummaryList(
            classes = "govuk-summary-list--long-key",
            rows = Seq(
                SummaryListRow(
                    key = Key(content = Text("receipt2.jpg")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("uploading"), classes = "govuk-tag--yellow"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Remove"),
                                visuallyHiddenText = Some("receipt1.jpg")
                            )
                        )
                    ))
                ),
                SummaryListRow(
                    key = Key(content = HtmlContent("""<a class="govuk-link" href="#">receipt1.jpg</a>""")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("uploaded"), classes = "govuk-tag--green"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Remove"),
                                visuallyHiddenText = Some("receipt1.jpg")
                            )
                        )
                    ))
                )
            )
        ))

        @govukButton(Button(
            content = Text("Continue")
        ))

    </div>
</div>
