
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukCheckboxes(Checkboxes(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Which types of waste do you transport?"),
        classes = "govuk-fieldset__legend--xl",
        isPageHeading = true
      ))
    )),
    hint = Some(Hint(
      content = Text("Select all that apply.")
    )),
    idPrefix = Some("waste"),
    name = "waste",
    items = Seq(
      CheckboxItem(
        content = Text("Waste from animal carcasses"),
        value = "carcasses"
      ), 
      CheckboxItem(
        content = Text("Waste from mines or quarries"),
        value = "mines"
      ), 
      CheckboxItem(
        content = Text("Farm or agricultural waste"),
        value = "farm"
      )
    )
  ))