
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukCheckboxes(Checkboxes(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Organisation"),
        classes = "govuk-fieldset__legend--m",
        isPageHeading = true
      ))
    )),
    idPrefix = Some("organisation"),
    name = "organisation",
    items = Seq(
      CheckboxItem(
        content = Text("HM Revenue and Customs (HMRC)"),
        value = "hmrc"
      ), 
      CheckboxItem(
        content = Text("Employment Tribunal"),
        value = "employment-tribunal"
      ), 
      CheckboxItem(
        content = Text("Ministry of Defence"),
        value = "MOD"
      ), 
      CheckboxItem(
        content = Text("Department for Transport"),
        value = "DfT"
      )
    ),
    classes = "govuk-checkboxes--small"
  ))