
@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@HmrcCurrencyInput(CurrencyInput(
    id = "currency",
    name = "currency",
    label = Label(
      content = Text("How much does your employer pay towards this?")
    ),
    hint = Some(Hint(
      content = Text("For example, £600 or £193.54.")
    )),
    classes = "govuk-input--width-10",
    autocomplete = Some("off")
  ))
@GovukButton(Button(
    content = Text("Continue")
  ))