
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukInput(Input(
    id = "cost-per-item",
    name = "cost-per-item",
    label = Label(
      isPageHeading = true,
      classes = "govuk-label--l",
      content = Text("What is the cost per item, in pounds?")
    ),
    classes = "govuk-input--width-5",
    spellcheck = Some(false),
    prefix = Some(PrefixOrSuffix(
      content = Text("£")
    )),
    suffix = Some(PrefixOrSuffix(
      content = Text("per item")
    ))
  ))