@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukHeader : GovukHeader)

@()


@govukHeader(Header(
    homepageUrl = Some("#"),
    serviceName = Some("Service name"),
    serviceUrl = Some("#"),
    navigation = Some(Seq(
      HeaderNavigation(
        href = Some("#"),
        active = true,
        content = Text("Navigation item 1")
      ),
      HeaderNavigation(
        href = Some("#"),
        content = Text("Navigation item 2")
      ),
      HeaderNavigation(
        href = Some("#"),
        content = Text("Navigation item 3")
      ),
      HeaderNavigation(
        href = Some("#"),
        content = Text("Navigation item 4")
      )
    ))
  ))
