@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukDateInput : GovukDateInput)

@()


@govukDateInput(DateInput(
    id = "passport-issued",
    namePrefix = Some("passport-issued"),
    items = Seq(
      InputItem(
        name = "day",
        value = Some("6"),
        classes = "govuk-input--width-2"
      ), 
      InputItem(
        name = "month",
        value = Some("3"),
        classes = "govuk-input--width-2"
      ), 
      InputItem(
        name = "year",
        classes = "govuk-input--width-4 govuk-input--error"
      )
    ),
    hint = Some(Hint(
      content = Text("For example, 27 3 2007")
    )),
    errorMessage = Some(ErrorMessage(
      content = Text("The date your passport was issued must include a year")
    )),
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("When was your passport issued?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    ))
  ))