@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.hmrcfrontend.views.html.components._

@import play.api.Configuration

@this(
        govukServiceNavigation: GovukServiceNavigation,
        hmrcServiceNavigationLanguageSelect: HmrcServiceNavigationLanguageSelect
)

@()(implicit messages: Messages, configuration: Configuration)

@govukServiceNavigation(ServiceNavigation(
    serviceName = Some("Service name"),
    serviceUrl = Some("#")
).withLanguageToggle())

