
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukErrorSummary(ErrorSummary(
    errorList = Seq(
      ErrorLink(
        href = Some("#name"),
        content = Text("Enter your full name")
      )
    ),
    title = Text("There is a problem")
  ))
<h1 class="govuk-heading-l">Your details</h1>


@GovukInput(Input(
    id = "name",
    name = "name",
    label = Label(
      content = Text("Full name")
    ),
    errorMessage = Some(ErrorMessage(
      content = Text("Enter your full name")
    ))
  ))