
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukErrorSummary(ErrorSummary(
    errorList = Seq(
      ErrorLink(
        href = Some("#passport-issued-year"),
        content = Text("Passport issue date must include a year")
      )
    ),
    title = Text("There is a problem")
  ))
@GovukDateInput(DateInput(
    id = Some("passport-issued"),
    items = Some(List(
      InputItem(
        name = "day",
        value = Some("5"),
        classes = "govuk-input--width-2"
      ), 
      InputItem(
        name = "month",
        value = Some("12"),
        classes = "govuk-input--width-2"
      ), 
      InputItem(
        name = "year",
        classes = "govuk-input--width-4 govuk-input--error"
      )
    )),
    errorMessage = Some(ErrorMessage(
      content = Text("Passport issue date must include a year")
    )),
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("When was your passport issued?"),
        classes = "govuk-fieldset__legend--xl",
        isPageHeading = true
      ))
    ))
  ))