@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukNotificationBanner : GovukNotificationBanner)

@()(implicit messages: Messages, request: RequestHeader)


@html = {
<h3 class="govuk-notification-banner__heading">
    Training outcome recorded and trainee withdrawn
  </h3>
  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@@department.gov.uk</a> if you think there’s a problem.</p>


}
@govukNotificationBanner(NotificationBanner(
    content = HtmlContent(html),
    bannerType = Some("success")
  ))
