@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukCharacterCount : GovukCharacterCount)

@()


@govukCharacterCount(CharacterCount(
    id = "exceeding-characters",
    name = "exceeding",
    value = Some("A content designer works on the end-to-end journey of a service to help users complete their goal and government deliver a policy intent. Their work may involve the creation of, or change to, a transaction, product or single piece of content that stretches across digital and offline channels. They make sure appropriate content is shown to a user in the right place and in the best format."),
    maxLength = Some(350),
    label = Label(
      content = Text("Enter a job description")
    ),
    errorMessage = Some(ErrorMessage(
      content = Text("Job description must be 350 characters or fewer")
    ))
  ))