@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukDateInput : GovukDateInput)

@()


@govukDateInput(DateInput(
    id = "passport-issued",
    namePrefix = Some("passport-issued"),
    hint = Some(Hint(
      content = Text("For example, 27 3 2007")
    )),
    errorMessage = Some(ErrorMessage(
      content = Text("The date your passport was issued must be in the past")
    )),
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("When was your passport issued?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    ))
  ))
