@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukAccordion : GovukAccordion)

@()


@govukAccordion(Accordion(
    id = "accordion-default",
    items = Seq(
      Section(
        headingContent = Text("Writing well for the web"),
        content = HtmlContent("""<p class="govuk-body">This is the content for Writing well for the web.</p>""")
      ), 
      Section(
        headingContent = Text("Writing well for specialists"),
        content = HtmlContent("""<p class="govuk-body">This is the content for Writing well for specialists.</p>""")
      ), 
      Section(
        headingContent = Text("Know your audience"),
        content = HtmlContent("""<p class="govuk-body">This is the content for Know your audience.</p>""")
      ), 
      Section(
        headingContent = Text("How people read"),
        content = HtmlContent("""<p class="govuk-body">This is the content for How people read.</p>""")
      )
    )
  ))