@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukErrorSummary : GovukErrorSummary,
govukInput : GovukInput)

@()


@govukErrorSummary(ErrorSummary(
    errorList = Seq(
      ErrorLink(
        href = Some("#full-name-input"),
        content = Text("Enter your full name")
      )
    ),
    title = Text("There is a problem")
  ))
<h1 class="govuk-heading-l">Your details</h1>


@govukInput(Input(
    id = "full-name-input",
    name = "name",
    label = Label(
      content = Text("Full name")
    ),
    errorMessage = Some(ErrorMessage(
      content = Text("Enter your full name")
    ))
  ))
