@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukRadios : GovukRadios,
govukButton : GovukButton)

@()


@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Is the EORI number you want to register GB123456123456?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    )),
    hint = Some(Hint(
      content = Text("This is the EORI number that is registered to your Government Gateway ID.")
    )),
    idPrefix = Some("want-to-register"),
    name = "want-to-register",
    items = Seq(
      RadioItem(
        content = Text("Yes"),
        value = Some("yes")
      ), 
      RadioItem(
        content = Text("No"),
        value = Some("no")
      )
    ),
    classes = "govuk-radios--inline"
  ))
@govukButton(Button(
    content = Text("Continue")
  ))