@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukRadios : GovukRadios)

@()


@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("How do you want to sign in?"),
        classes = "govuk-fieldset__legend--l",
        isPageHeading = true
      ))
    )),
    hint = Some(Hint(
      content = Text("You’ll need an account to prove your identity and complete your Self Assessment.")
    )),
    idPrefix = Some("sign-in"),
    name = "sign-in",
    items = Seq(
      RadioItem(
        content = Text("Sign in with Government Gateway"),
        value = Some("government-gateway"),
        label = Some(Label(
          classes = "govuk-label--s"
        )),
        hint = Some(Hint(
          content = Text("You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before.")
        ))
      ), 
      RadioItem(
        content = Text("Sign in with GOV.UK Verify"),
        value = Some("govuk-verify"),
        label = Some(Label(
          classes = "govuk-label--s"
        )),
        hint = Some(Hint(
          content = Text("You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.")
        ))
      )
    )
  ))