@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukRadios : GovukRadios,
govukButton : GovukButton)

@()


<h1 class="govuk-heading-xl">Is this your business?</h1>
<p class="govuk-body">ABC limited</p>


@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Is this your business?"),
        classes = "govuk-visually-hidden"
      ))
    )),
    idPrefix = Some("is-business"),
    name = "is-business",
    items = Seq(
      RadioItem(
        content = Text("Yes"),
        value = Some("yes")
      ), 
      RadioItem(
        content = Text("No"),
        value = Some("no")
      )
    ),
    classes = "govuk-radios--inline"
  ))
@govukButton(Button(
    content = Text("Continue")
  ))