
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukDateInput(DateInput(
    id = Some("passport-issued"),
    namePrefix = Some("passport-issued"),
    items = Some(List(
      InputItem(
        name = "day",
        value = Some("6"),
        classes = "govuk-input--width-2 govuk-input--error"
      ), 
      InputItem(
        name = "month",
        value = Some("3"),
        classes = "govuk-input--width-2 govuk-input--error"
      ), 
      InputItem(
        name = "year",
        value = Some("2076"),
        classes = "govuk-input--width-4 govuk-input--error"
      )
    )),
    hint = Some(Hint(
      content = Text("For example, 12 11 2007")
    )),
    errorMessage = Some(ErrorMessage(
      content = Text("The date your passport was issued must be in the past")
    )),
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("When was your passport issued?"),
        classes = "govuk-fieldset__legend--xl",
        isPageHeading = true
      ))
    ))
  ))