@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukInput : GovukInput,
govukButton : GovukButton)

@()


@govukInput(Input(
    id = "currency",
    name = "currency",
    label = Label(
      content = Text("How much does your employer pay towards this?")
    ),
    hint = Some(Hint(
      content = Text("For example, £600 or £193.54.")
    )),
    classes = "govuk-input--width-10",
    spellcheck = Some(false),
    prefix = Some(PrefixOrSuffix(
      content = Text("£")
    ))
  ))
@govukButton(Button(
    content = Text("Continue")
  ))