@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.viewmodels.phasebanner.PhaseBanner
@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.{HtmlContent, Text}
@import uk.gov.hmrc.govukfrontend.views.viewmodels.tag.Tag

@this(hmrcHeader : HmrcHeader)

@()


@hmrcHeader(Header(
    serviceName = Some("Service Name"),
    serviceUrl = "/",
    signOutHref = Some("?sign-out"),
    phaseBanner = Some(PhaseBanner(
      tag = Some(Tag(
        content = Text("Alpha")
      )),
      content = HtmlContent("""This is a new service — your <a class='govuk-link' href='#'>feedback</a> will help us to improve it.""")
    ))
  ))
