@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.Aliases.{PhaseBanner, Text, HtmlContent, Tag}

@this(hmrcHeader : HmrcHeader)

@()


@hmrcHeader(Header(
    serviceName = Some("Enw'r gwasanaeth"),
    serviceUrl = "/",
    language = Cy,
    useTudorCrown = Some(true),
    signOutHref = Some("?sign-out"),
    phaseBanner = Some(PhaseBanner(
      tag = Some(Tag(
        content = Text("Alpha")
      )),
      content = HtmlContent("""Mae hwn yn wasanaeth newydd ‐ bydd eich <a class='govuk-link' href='#'>adborth</a> yn ein helpu i'w wella.""")
    ))
  ))