@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukTable : GovukTable)

@()


@govukTable(Table(
    rows = Seq(
      Seq(
        TableRow(
          content = Text("January")
        ), 
        TableRow(
          content = Text("£95")
        )
      ), 
      Seq(
        TableRow(
          content = Text("February")
        ), 
        TableRow(
          content = Text("£55")
        )
      ), 
      Seq(
        TableRow(
          content = Text("March")
        ), 
        TableRow(
          content = Text("£125")
        )
      )
    ),
    head = Some(Seq(
      HeadCell(
        content = Text("Month you apply")
      ), 
      HeadCell(
        content = Text("Rate for vehicles")
      )
    )),
    caption = Some("Months and rates"),
    captionClasses = "govuk-table__caption--l",
    firstCellIsHeader = true
  ))