@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukTable : GovukTable)

@()


@govukTable(Table(
    rows = Seq(
      Seq(
        TableRow(
          content = Text("January")
        ), 
        TableRow(
          content = Text("£85"),
          format = Some("numeric")
        ), 
        TableRow(
          content = Text("£95"),
          format = Some("numeric")
        )
      ), 
      Seq(
        TableRow(
          content = Text("February")
        ), 
        TableRow(
          content = Text("£75"),
          format = Some("numeric")
        ), 
        TableRow(
          content = Text("£55"),
          format = Some("numeric")
        )
      ), 
      Seq(
        TableRow(
          content = Text("March")
        ), 
        TableRow(
          content = Text("£165"),
          format = Some("numeric")
        ), 
        TableRow(
          content = Text("£125"),
          format = Some("numeric")
        )
      )
    ),
    head = Some(Seq(
      HeadCell(
        content = Text("Month you apply")
      ), 
      HeadCell(
        content = Text("Rate for bicycles"),
        format = Some("numeric")
      ), 
      HeadCell(
        content = Text("Rate for vehicles"),
        format = Some("numeric")
      )
    )),
    caption = Some("Months and rates"),
    firstCellIsHeader = true
  ))