@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukSummaryList: GovukSummaryList,
        govukButton : GovukButton,
        govukTag: GovukTag,
        govukFileUpload: GovukFileUpload
)

@()


<h1 class="govuk-heading-l">Uwchlwytho datganiad, derbynneb a thaflen waith cyfrifo</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div id="file-upload-1-hint" class="govuk-hint">
            Gallwch uwchlwytho’ch derbynneb fel copi wedi’i sganio neu lun o’r gwreiddiol. Mae’n rhaid i’r ffeil dan sylw fod yn llai na 100 MB.
        </div>

        <p class="govuk-body" aria-live="polite">1 o 3 ffeil wedi’u huwchlwytho</p>

        <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

        @govukSummaryList(SummaryList(
            classes = "govuk-summary-list--long-key",
            rows = Seq(
                SummaryListRow(
                    key = Key(content = HtmlContent("""<a class="govuk-link" href="#">Datganiad.jpg</a><div class="govuk-body govuk-!-margin-0">Datganiad</div>""")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("WEDI’I HUWCHLWYTHO"), classes = "govuk-tag--green"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Dileu"),
                                visuallyHiddenText = Some("Datganiad.jpg")
                            )
                        )
                    ))
                )
            )
        ))

        @govukFileUpload(FileUpload(
            id = "file-upload-1",
            name = "file-upload-1",
            label = Label(
                content = Text("Derbynneb")
            )
        ))

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            @govukFileUpload(FileUpload(
                id = "file-upload-2",
                name = "file-upload-2",
                label = Label(
                    content = Text("Taflen waith cyfrifo")
                )
            ))

            @govukButton(Button(
                content = Text("Yn eich blaen")
            ))
    </div>
</div>
