@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukSummaryList: GovukSummaryList,
        govukButton : GovukButton,
        govukTag: GovukTag,
        govukFileUpload: GovukFileUpload,
        govukRadios: GovukRadios
)

@()

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @govukFileUpload(FileUpload(
            id = "file-upload-1",
            name = "file-upload-1",
            hint = Some(Hint(
                content = Text("You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.")
            )),
            label = Label(
                content = Text("Upload invoice"),
                classes = "govuk-label--l",
                isPageHeading = true
            ),
            javascript = Some(true)
        ))

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-visually-hidden" aria-live="polite" id="statusInformation">1 of 1 files uploaded.</div>

    <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

        @govukSummaryList(SummaryList(
            classes = "govuk-summary-list--long-key",
            rows = Seq(
                SummaryListRow(
                    key = Key(content = HtmlContent("""<a class="govuk-link" href="#">declaration.jpg</a><div class="govuk-body govuk-!-margin-0">Declaration</div>""")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("Uploaded"), classes = "govuk-tag--green"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Remove"),
                                visuallyHiddenText = Some("declaration.jpg")
                            )
                        )
                    ))
                )
            )
        ))

        @govukRadios(Radios(
            name = "add-a-different-type-of-evidence",
            fieldset = Some(Fieldset(
                legend = Some(Legend(
                    content = Text("Add a different type of supporting evidence to your claim?"),
                    classes = "govuk-fieldset__legend govuk-fieldset__legend--m"
                )),
            )),
            items = Seq(
                RadioItem(content = Text("Yes"), value = Some("yes")),
                RadioItem(content = Text("No"), value = Some("no"))
            )
        ))

        @govukButton(Button(
            content = Text("Continue")
        ))

