@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukSummaryList: GovukSummaryList,
        govukButton : GovukButton,
        govukTag: GovukTag
)

@()

<h1 class="govuk-heading-l">Upload receipt</h1>

<div id="file-upload-1-hint" class="govuk-hint">
    You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

        <div class="govuk-visually-hidden" aria-live="polite" id="statusInformation">File uploaded.</div>

        @govukSummaryList(SummaryList(
            classes = "govuk-summary-list--long-key",
            rows = Seq(
                SummaryListRow(
                    key = Key(content = HtmlContent("""<a class="govuk-link" href="#">receipt1.jpg</a>""")),
                    value = Value(content = HtmlContent(
                        govukTag(Tag(content = Text("Uploaded"), classes = "govuk-tag--green"))
                    )),
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = "#",
                                content = Text("Remove"),
                                visuallyHiddenText = Some("receipt1.jpg")
                            )
                        )
                    ))
                )
            )
        ))

        <div class="govuk-visually-hidden" aria-live="polite" id="statusInformation">file uploaded.</div>

        @govukButton(Button(
            content = Text("Continue")
        ))

  </div>
</div>
