@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
govukFileUpload : GovukFileUpload)

@()


<div class="govuk-form-group">
  
@govukFileUpload(FileUpload(
    name = "file-upload-1",
    id = "file-upload-1",
    label = Label(
      isPageHeading = true,
      classes = "govuk-label--l",
      content = Text("Upload receipt")
    ),
    hint = Some(Hint(
      content = Text("You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.")
    ))
  ))
</div>


@govukButton(Button(
    content = Text("Continue")
  ))