@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukButton : GovukButton,
        govukFileUpload : GovukFileUpload)

@()


<div class="govuk-form-group">

    @govukFileUpload(FileUpload(
        name = "file-upload-1",
        id = "file-upload-1",
        label = Label(
            isPageHeading = true,
            classes = "govuk-label--l",
            content = Text("Uwchlwytho derbynneb")
        ),
        hint = Some(Hint(
            content = Text("Gallwch uwchlwytho’ch derbynneb fel copi wedi’i sganio neu lun o’r gwreiddiol. Mae’n rhaid i’r ffeil dan sylw fod yn llai na 100 MB.")
        ))
    ))
</div>


@govukButton(Button(
    content = Text("Yn eich blaen")
))
