@import uk.gov.hmrc.hmrcfrontend.views.html.components._

@this(hmrcTimeoutDialog : HmrcTimeoutDialog)

@()


@hmrcTimeoutDialog(TimeoutDialog(
    language = Some("cy"),
    timeout = Some(70),
    countdown = Some(68),
    keepAliveUrl = Some("?continue=true"),
    signOutUrl = Some("?lang=Welsh"),
    title = Some("Er eich diogelwch"),
    message = Some("Byddwn yn dileu’ch atebion cyn pen"),
    keepAliveButtonText = Some("Parhewch i wirio pa help y gallwch ei gael gyda chostau gofal plant"),
    signOutButtonText = Some("Dileu’ch atebion")
  ))