@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.charactercount.{CharacterCount => HFCharacterCount}

@this(govukRadios : GovukRadios,
hmrcCharacterCount : HmrcCharacterCount,
govukButton : GovukButton)

@()(implicit messages: Messages, request: RequestHeader)


<h1 class="govuk-heading-xl">Rhoi adborth</h1>

<p class="govuk-body">Rydym yn defnyddio’ch adborth i wella ein gwasanaethau. I ddeall eich adborth yn well, efallai y byddwn yn ei gysylltu â gwybodaeth arall sydd gennym amdanoch, megis eich rhywedd a’ch oedran.</p>

<p class="govuk-body">Gweler <a class="govuk-link" href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" rel="noreferrer noopener" target="_blank">Hysbysiad Preifatrwydd CThEF (yn agor tab newydd)</a> i gael gwybod sut yr ydym yn casglu, defnyddio a diogelu’ch gwybodaeth bersonol.</p>

<p class="govuk-body">Mae’r arolwg hwn yn cynnwys 4 cwestiwn dewisol.</p>

<form action="/form-handler" method="post" novalidate>

@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("A oeddech wedi gallu gwneud yr hyn yr oedd angen i chi ei wneud heddiw?"),
        classes = "govuk-fieldset__legend--m"
      ))
    )),
    name = "able",
    items = Seq(
      RadioItem(
        content = Text("Iawn"),
        id = Some("able-yes"),
        value = Some("yes")
      ),
      RadioItem(
        content = Text("Na"),
        id = Some("able-no"),
        value = Some("no")
      )
    )
  ))
@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Pa mor hawdd oedd hi i wneud yr hyn yr oedd angen i chi ei wneud heddiw?"),
        classes = "govuk-fieldset__legend--m"
      ))
    )),
    name = "howEasyScore",
    items = Seq(
      RadioItem(
        content = Text("Hawdd iawn"),
        id = Some("howEasyQuestion-VeryEasy"),
        value = Some("VeryEasy")
      ),
      RadioItem(
        content = Text("Hawdd"),
        id = Some("howEasyQuestion-Easy"),
        value = Some("Easy")
      ),
      RadioItem(
        content = Text("Ddim yn hawdd nac yn anodd"),
        id = Some("howEasyQuestion-Moderate"),
        value = Some("Moderate")
      ),
      RadioItem(
        content = Text("Anodd"),
        id = Some("howEasyQuestion-Difficult"),
        value = Some("Difficult")
      ),
      RadioItem(
        content = Text("Anodd iawn"),
        id = Some("howEasyQuestion-VeryDifficult"),
        value = Some("VeryDifficult")
      )
    )
  ))
@hmrcCharacterCount(HFCharacterCount(
    id = "whyGiveScore",
    name = "moreDetail",
    maxLength = Some(1000),
    label = Label(
      classes = "govuk-label--m",
      content = Text("Pam y gwnaethoch roi’r ateb hwn?")
    ),
    hint = Some(Hint(
      content = Text("Peidiwch â nodi gwybodaeth bersonol, megis eich rhif Yswiriant Gwladol, eich Cyfeirnod Unigryw y Trethdalwr, eich cyfeiriad neu’ch rhif ffôn yn y blwch hwn. Sylwer – ni allwn ymateb i sylwadau’n unigol, ond mi ydym yn defnyddio’ch adborth i helpu i wella ein gwasanaethau.")
    )),
    language = Cy
  ))
@govukRadios(Radios(
    fieldset = Some(Fieldset(
      legend = Some(Legend(
        content = Text("Yn gyffredinol, beth oedd eich barn am y gwasanaeth a gawsoch heddiw?"),
        classes = "govuk-fieldset__legend--m"
      ))
    )),
    name = "howDoYouFeelScore",
    items = Seq(
      RadioItem(
        content = Text("Bodlon iawn"),
        id = Some("howDoYouFeelQuestion-VerySatisfied"),
        value = Some("VerySatisfied")
      ),
      RadioItem(
        content = Text("Bodlon"),
        id = Some("howDoYouFeelQuestion-Satisfied"),
        value = Some("Satisfied")
      ),
      RadioItem(
        content = Text("Ddim yn fodlon nac yn anfodlon"),
        id = Some("howDoYouFeelQuestion-Moderate"),
        value = Some("Moderate")
      ),
      RadioItem(
        content = Text("Anfodlon"),
        id = Some("howDoYouFeelQuestion-Dissatisfied"),
        value = Some("Dissatisfied")
      ),
      RadioItem(
        content = Text("Anfodlon iawn"),
        id = Some("howDoYouFeelQuestion-VeryDissatisfied"),
        value = Some("VeryDissatisfied")
      )
    )
  ))
@govukButton(Button(
    content = Text("Anfon adborth")
  ))
</form>
