
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukFooter(Footer(
    meta = Some(Meta(
      content = HtmlContent("""Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>"""),
      items = Some(List(
        FooterItem(
          text = Some("Help"),
          href = Some("#")
        ), 
        FooterItem(
          text = Some("Cookies"),
          href = Some("#")
        ), 
        FooterItem(
          text = Some("Contact"),
          href = Some("#")
        ), 
        FooterItem(
          text = Some("Terms and conditions"),
          href = Some("#")
        ), 
        FooterItem(
          text = Some("Rhestr o Wasanaethau Cymraeg"),
          href = Some("#")
        )
      ))
    )),
    navigation = Seq(
      FooterNavigation(
        title = Some("Services and information"),
        columns = Some(2),
        items = Seq(
          FooterItem(
            text = Some("Benefits"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Births, deaths, marriages and care"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Business and self-employed"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Childcare and parenting"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Citizenship and living in the UK"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Crime, justice and the law"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Disabled people"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Driving and transport"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Education and learning"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Employing people"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Environment and countryside"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Housing and local services"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Money and tax"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Passports, travel and living abroad"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Visas and immigration"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Working, jobs and pensions"),
            href = Some("#")
          )
        )
      ), 
      FooterNavigation(
        title = Some("Departments and policy"),
        items = Seq(
          FooterItem(
            text = Some("How government works"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Departments"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Worldwide"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Policies"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Publications"),
            href = Some("#")
          ), 
          FooterItem(
            text = Some("Announcements"),
            href = Some("#")
          )
        )
      )
    )
  ))