
@import uk.gov.hmrc.govukfrontend.views.html.components._

@()

@GovukFooter(Footer(
    navigation = Seq(
      FooterNavigation(
        title = Some("Two column list"),
        columns = Some(2),
        items = Seq(
          FooterItem(
            text = Some("Navigation item 1"),
            href = Some("#1")
          ), 
          FooterItem(
            text = Some("Navigation item 2"),
            href = Some("#2")
          ), 
          FooterItem(
            text = Some("Navigation item 3"),
            href = Some("#3")
          ), 
          FooterItem(
            text = Some("Navigation item 4"),
            href = Some("#4")
          ), 
          FooterItem(
            text = Some("Navigation item 5"),
            href = Some("#5")
          ), 
          FooterItem(
            text = Some("Navigation item 6"),
            href = Some("#6")
          )
        )
      ), 
      FooterNavigation(
        title = Some("Single column list"),
        items = Seq(
          FooterItem(
            text = Some("Navigation item 1"),
            href = Some("#1")
          ), 
          FooterItem(
            text = Some("Navigation item 2"),
            href = Some("#2")
          ), 
          FooterItem(
            text = Some("Navigation item 3"),
            href = Some("#3")
          )
        )
      )
    )
  ))