@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.addtoalist.ItemType
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.addtoalist.ListItem
@import uk.gov.hmrc.govukfrontend.examples.MessagesSupport
@import play.api.test.FakeRequest

@this(hmrcAddToAList: HmrcAddToAList)

@()

@hmrcAddToAList(AddToAList(
    itemList = Seq(
        ListItem(
            "Sydney Russell",
            "#",
            "#"
        ),
        ListItem(
            "Michael Cain",
            "#",
            "#"
        ),
        ListItem(
            "Jeremy Winter",
            "#",
            "#"
        ),
        ListItem(
            "Elizabeth Kean",
            "#",
            "#"
        )
    ),
    itemType = Some(ItemType(
        "director",
        "directors"
    )),
    hintText = Some("You must tell us about all your directors."),
    formAction = Some("")
))(MessagesSupport().messages, FakeRequest())
