@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukInput : GovukInput)

@()


@govukInput(Input(
    id = "cost-per-item-error",
    name = "costPerItemError",
    label = Label(
      isPageHeading = true,
      classes = "govuk-label--l",
      content = Text("What is the cost per item, in pounds?")
    ),
    errorMessage = Some(ErrorMessage(
      content = Text("Enter a cost per item, in pounds")
    )),
    classes = "govuk-input--width-5",
    spellcheck = Some(false),
    prefix = Some(PrefixOrSuffix(
      content = Text("£")
    )),
    suffix = Some(PrefixOrSuffix(
      content = Text("per item")
    ))
  ))